* {
  box-sizing: border-box;
}

body {
  
  background: url(https://i.pinimg.com/originals/69/b9/0e/69b90ed4e4087e02faaaccf33a843dfb.jpg) fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center
}

.results {
  padding: 2px;
  border: solid 1px black;
  height: 400px;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  background-color: #68917c70;
}

img.fam-pic {
  height: 250px;
  width: auto;
  opacity: 0.8;
  border-radius: 10px;
}

input[name=restart] {
  margin-top: 30px;
  background-color: #C64C65;
  border: solid 1px black;
  height: 50px;
  width: 25%;
}